access=public
prefix=D:\Program Files\nodejs\node_global
cache=D:\Program Files\nodejs\node_cache
registry=https://registry.npmjs.org/
## registry=https://registry.npmjs.org/
## registry=https://registry.npm.taobao.org/
electron_mirror=https://npm.taobao.org/mirrors/electron/
sass_binary_site=http://cdn.npm.taobao.org/dist/node-sass
//registry.npmjs.org/:_authToken=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
